# 1교시

## 1. 분류의 성능평가 지표 5가지 이상

1. 정확도(Precision)
2. 재현율(recall, sensitivity, TruePositiveRate) (=민감도)
3. 정밀도(Accuracy)
4. f1_score
5. roc, auc

## 2. specificity의 정의

TN  / TN + FP

## 3. FPR

1 - Specificty

## 4. 정밀도와 재현율은 상호 보완적인 평가 지표이기 때문에 어느 한 쪽을 강제로 높이면 다른 하나의 수치가 떨어지기 쉽다. 이것을 (    ) 라고 한다.

트레이드 오프(Trade-off)

## 5. 정밀도와 재현율을 결합한 지표로써 정밀도와 재현율이 어느 한쪽으로 치우치지 않는 수치를 나타낼 때 상대적으로 높은 값을 가지는 지표는?

F1 score

## 6. ROC Curve 그래프에서 각 축은?

x : FPR, y : TPR

In [16]:
import pydataset
mpg = pydataset.data('mpg')

## 7. 연료 종류(fl)을 레이블 값으로 설정해 이를 예측할 수 있는지 머신러닝으로 구현해보자

## 7-1. 연료 fl 종류의 갯수는?

In [18]:
mpg['fl'].value_counts()

r    168
p     52
e      8
d      5
c      1
Name: fl, dtype: int64

## 7-2. 연료 종류가 'e','d','c' 인 행은 삭제하세요

In [26]:
mpg = mpg[(mpg['fl']=='r') | (mpg['fl']=='p')]

mpg.query('fl=="r" or fl =="p" ')
mpg.query("fl == ['p','r']")
mpg = mpg[mpg['fl'].isin(['p','r'])]

## 7-3. 피처값에 'manufacturer' , 'model', 'year' 은 삭제하세요

In [28]:
mpg.drop(['manufacturer', 'model','year'],axis=1, inplace=True)

In [29]:
mpg

     displ  cyl       trans drv  cty  hwy fl    class
1      1.8    4    auto(l5)   f   18   29  p  compact
2      1.8    4  manual(m5)   f   21   29  p  compact
3      2.0    4  manual(m6)   f   20   31  p  compact
4      2.0    4    auto(av)   f   21   30  p  compact
5      2.8    6    auto(l5)   f   16   26  p  compact
..     ...  ...         ...  ..  ...  ... ..      ...
230    2.0    4    auto(s6)   f   19   28  p  midsize
231    2.0    4  manual(m6)   f   21   29  p  midsize
232    2.8    6    auto(l5)   f   16   26  p  midsize
233    2.8    6  manual(m5)   f   18   26  p  midsize
234    3.6    6    auto(s6)   f   17   26  p  midsize

[220 rows x 8 columns]

## 7-4. fl 을 레이블 값으로 지정하고 나머지를 피처값으로 지정하세요

In [31]:
X = mpg.iloc[:,[0,1,2,3,4,5,7]]
y = mpg.iloc[:,[6]]

In [36]:
X

     displ  cyl       trans drv  cty  hwy    class
1      1.8    4    auto(l5)   f   18   29  compact
2      1.8    4  manual(m5)   f   21   29  compact
3      2.0    4  manual(m6)   f   20   31  compact
4      2.0    4    auto(av)   f   21   30  compact
5      2.8    6    auto(l5)   f   16   26  compact
..     ...  ...         ...  ..  ...  ...      ...
230    2.0    4    auto(s6)   f   19   28  midsize
231    2.0    4  manual(m6)   f   21   29  midsize
232    2.8    6    auto(l5)   f   16   26  midsize
233    2.8    6  manual(m5)   f   18   26  midsize
234    3.6    6    auto(s6)   f   17   26  midsize

[220 rows x 7 columns]

## 7-5. 현재 피처값에 문자열이 존재하는데, 이를 레이블 인코딩하세요

trans, drv, class

In [63]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
X['trans'] = encoder.fit_transform(X.trans)
X['drv'] = encoder.fit_transform(X.drv)
X['class'] = encoder.fit_transform(X['class'])

C:\Users\user\AppData\Local\Temp\ipykernel_2628\2948990103.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['trans'] = encoder.fit_transform(X.trans)
C:\Users\user\AppData\Local\Temp\ipykernel_2628\2948990103.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['drv'] = encoder.fit_transform(X.drv)
C:\Users\user\AppData\Local\Temp\ipykernel_2628\2948990103.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['class'] = encoder.fit_transform(X['class'])

In [64]:
X

     displ  cyl  trans  drv  cty  hwy  class
1      1.8    4      3    1   18   29      1
2      1.8    4      8    1   21   29      1
3      2.0    4      9    1   20   31      1
4      2.0    4      0    1   21   30      1
5      2.8    6      3    1   16   26      1
..     ...  ...    ...  ...  ...  ...    ...
230    2.0    4      7    1   19   28      2
231    2.0    4      9    1   21   29      2
232    2.8    6      3    1   16   26      2
233    2.8    6      8    1   18   26      2
234    3.6    6      7    1   17   26      2

[220 rows x 7 columns]

## 7-6. 해당 머신러닝의 종류는 레이블값이 주어지고, 주어진 레이블값이 '범주형' 이기 때문에 지도학습 중 분류 방법이다. 정제한 데이터를 5개의 fold로 stratified kfold하고. 개별정확도의 평균을 구하세요

In [54]:
from sklearn.tree import DecisionTreeClassifier 
from sklearn.model_selection import cross_val_score 


from sklearn.tree import DecisionTreeClassifier 
from sklearn.model_selection import cross_val_score 

 

dt_clf = DecisionTreeClassifier()
# cross_val_score(  ________________    ) 

# ->  dt_clf, X, y, scoring = 'accuracy', cv = 5

In [65]:
from sklearn.tree import DecisionTreeClassifier 
from sklearn.model_selection import cross_val_score 


from sklearn.tree import DecisionTreeClassifier 
from sklearn.model_selection import cross_val_score 

 

dt_clf = DecisionTreeClassifier()
cross_val_score(dt_clf, X, y, scoring = 'accuracy', cv = 5)

array([0.56818182, 0.88636364, 0.70454545, 0.79545455, 0.47727273])

In [58]:
mpg

     displ  cyl  trans  drv  cty  hwy fl  class
1      1.8    4      3    1   18   29  p      1
2      1.8    4      8    1   21   29  p      1
3      2.0    4      9    1   20   31  p      1
4      2.0    4      0    1   21   30  p      1
5      2.8    6      3    1   16   26  p      1
..     ...  ...    ...  ...  ...  ... ..    ...
230    2.0    4      7    1   19   28  p      2
231    2.0    4      9    1   21   29  p      2
232    2.8    6      3    1   16   26  p      2
233    2.8    6      8    1   18   26  p      2
234    3.6    6      7    1   17   26  p      2

[220 rows x 8 columns]

In [66]:
## 8. 캐글 산탄데르 고객 만족 데이터를 불러오세욤

In [75]:
import pandas as pd
import numpy as np
cust_df = pd.read_csv("santander_train.csv", encoding = "latin-1")

In [76]:
cust_df[:5]

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,1,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000,0
1,3,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000,0
2,4,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000,0
3,8,2,37,0.0,195.0,195.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000,0
4,10,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0

In [77]:
from collections import Counter
Counter(cust_df['TARGET'])

Counter({0: 73012, 1: 3008})

## 8-1. 0의 개수가 너무 많으므로 언더샘플링을 해서 10%만 남기세요

In [82]:
cust_df.drop(cust_df[cust_df['TARGET']== 0].sample(frac=0.9).index)

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
9,23,2,25,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,356463.060000,0
18,42,229,55,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,168943.230000,0
31,77,2,66,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,63324.900000,1
34,83,2,42,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0
48,109,2,24,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,114497.610000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75995,151798,2,24,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,95812.860000,0
76000,151804,2,75,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,1
76007,151811,2,61,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,83667.150000,1
76009,151815,2,29,0.0,123.36,185.88,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,176712.420000,0
76015,151829,2,48,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,60926.490000,0

In [86]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score


X = X_features = cust_df.iloc[: , :-1]
y = y_labels = cust_df.iloc[: , -1]

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.3)

lr_clf = LogisticRegression(max_iter = 1000)
lr_clf.fit(X_train, y_train)
pred = lr_clf.predict(X_test)
pred_proba = lr_clf.predict_proba(X_test)[:, 1]

confusion = confusion_matrix( y_test, pred)
accuracy = accuracy_score(y_test , pred) 

print(confusion, '    \n ' , accuracy)

[[21880     0]
 [  926     0]]
  0.9593966500043848

# 2교시 : 회귀 309p ~

# 6교시 : 회귀 324p ~

In [93]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from scipy import stats
from sklearn.datasets import load_boston
import warnings
warnings.filterwarnings('ignore')  #사이킷런 1.2 부터는 보스턴 주택가격 데이터가 없어진다는 warning 메시지 출력 제거
%matplotlib inline

ImportError:
`load_boston` has been removed from scikit-learn since version 1.2.

The Boston housing prices dataset has an ethical problem: as
investigated in [1], the authors of this dataset engineered a
non-invertible variable "B" assuming that racial self-segregation had a
positive impact on house prices [2]. Furthermore the goal of the
research that led to the creation of this dataset was to study the
impact of air quality but it did not give adequate demonstration of the
validity of this assumption.

The scikit-learn maintainers therefore strongly discourage the use of
this dataset unless the purpose of the code is to study and educate
about ethical issues in data science and machine learning.

In this special case, you can fetch the dataset from the original
source::

    import pandas as pd
    import numpy as np

    data_url = "http://lib.stat.cmu.edu/datasets/boston"
    raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
    data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
    target = raw_df.values[1::2, 2]

Alternative datasets include the California housing dataset and the
Ames housing dataset. You can load the datasets as follows::

    from sklearn.datasets import fetch_california_housing
    housing = fetch_california_housing()

for the California housing dataset and::

    from sklearn.datasets import fetch_openml
    housing = fetch_openml(name="house_prices", as_frame=True)

for the Ames housing dataset.

[1] M Carlisle.
"Racist data destruction?"
<https://medium.com/@docintangible/racist-data-destruction-113e3eff54a8>

[2] Harrison Jr, David, and Daniel L. Rubinfeld.
"Hedonic housing prices and the demand for clean air."
Journal of environmental economics and management 5.1 (1978): 81-102.
<https://www.researchgate.net/publication/4974606_Hedonic_housing_prices_and_the_demand_for_clean_air>

In [125]:
import pandas as pd
import numpy as np

data_url = "http://lib.stat.cmu.edu/datasets/boston"
raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
X = data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
y = target = raw_df.values[1::2, 2]

In [126]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [127]:
X = data[:,5].reshape(-1,1)
y = target
lr.fit(X,y)

LinearRegression()

In [128]:
lr.coef_

array([9.10210898])

In [129]:
lr.intercept_

-34.670620776438554

In [122]:
y = -34.6706 + 9.1021*X
# 7.1 일 때 y의 값?
lr.predict(np.array([7.1]).reshape(-1,1))

array([29.95435299])

In [111]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X[:,5], y, test_size=0.3, random_state=156)
lr = LinearRegression()
lr.fit(X_train.reshape(-1,1),y_train)

IndexError: index 5 is out of bounds for axis 1 with size 1

In [123]:
X.shape

(506, 1)

In [130]:
X_train, X_test, y_train, y_test = train_test_split(X[:,5], y, test_size=0.3, random_state=156)
lr = LinearRegression()

IndexError: index 5 is out of bounds for axis 1 with size 1